:root {
    --c_coal: rgb(63, 60, 60);
}


body {
    margin: 5;
    background-color: rgb(219, 219, 219);
    background-image: "starbase_card.png";
    background-repeat: repeat;
}

h1 {
    padding-top: 1%;
    color: black;
}

p {
    padding: 1%;
    font-size: larger;
}

.menu_main {
    margin: 2%;
    padding: 4%;
    padding-top: 1%;
    
    width: 96%;
    border: 4px solid rgb(32, 89, 187);
    border-top: 15px solid rgb(32, 89, 187);
    border-radius: 12px;

    background-color: white;
    box-shadow: 8px 10px var(--c_coal);

    outline: var(--c_coal) solid 2px;
}

.menu_important {
    margin: 1%;
    padding: 2%;
    padding-top: 1%;
    
    width: 96%;
    border: 4px solid rgb(187, 50, 32);
    border-top: 15px solid rgb(187, 50, 32);
    border-radius: 12px;

    background-color: rgb(219, 219, 219);
    box-shadow: 4px 6px var(--c_coal);

    outline: var(--c_coal) solid 2px;
}

.primary_title {
    text-align: center;
    font: bolder;
    text-shadow: 3px 3px rgb(54, 56, 56);
    color: white;
}

/*
body {
    margin: 0;
}

a {
    color: coral !important;
}

a:hover {
    color: purple !important;
}

img {
    transform: scale(1,1);
    transition: 1s;
}

img:hover {
    transform: scale(34,34);
    transition: 1s;
}

.gream {
    background-color: green;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(36, 3, 221);
    padding: 25px;
}

.container {
    background: coral !important;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(36, 3, 221);
    padding: 25px;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
    */