:root {
    --c_coal: rgba(0, 0, 0, 0.397);
    --c_bkg: rgb(219, 219, 219);
    --c_blue: rgb(47, 0, 255);
    --c_purple: rgb(89, 0, 255);
    --c_red: rgb(255, 0, 34);
}


body {
    background-image: url("Images/itch_background_mini.png");
    background-repeat: repeat;
    background-size:cover;
    background-color: var(--c_bkg);
}

h1 {
    padding-top: 1%;
    color: black;
}

p {
    padding: 1%;
    font-size: larger;
    font-weight: 400;
}

.menu_background {
    margin: 2%;
    padding: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    
    width: auto;
    border: 6px solid rgb(76, 0, 216);
    border-radius: 12px;

    background-color: rgba(36, 36, 36, 0.719);
    box-shadow: 0px 0px 12px var(--c_coal);

    outline: var(--c_coal) solid 2px;
}

.menu_main {
    margin: 2%;
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    
    width: 96%;
    border: 4px solid var(--c_blue);
    border-top: 15px solid var(--c_blue);
    border-radius: 12px;

    background-color: white;
    box-shadow: 8px 10px var(--c_coal);

    outline: var(--c_coal) solid 2px;
}

.menu_important {
    text-align: center;

    margin: 1%;
    /*
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    */
    
    width: 96%;
    border: 4px solid var(--c_red);
    border-top: 12px solid var(--c_red);
    border-radius: 12px;

    background-color: var(--c_bkg);
    box-shadow: 4px 6px var(--c_coal);

    outline: var(--c_coal) solid 2px;
}

.primary_title {
    text-align: center;
    font: bolder;
    text-shadow: 3px 3px rgb(54, 56, 56);
    color: white;
}

/*
body {
    margin: 0;
}

a {
    color: coral !important;
}

a:hover {
    color: purple !important;
}

img {
    transform: scale(1,1);
    transition: 1s;
}

img:hover {
    transform: scale(34,34);
    transition: 1s;
}

.gream {
    background-color: green;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(36, 3, 221);
    padding: 25px;
}

.container {
    background: coral !important;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(36, 3, 221);
    padding: 25px;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
    */